/* List view */
.list-view .content {
    display: flex; ①
}

.list-view .contact-grid {
    flex: 2; ②
}

.list-view .contact-form {
    flex: 1;
    padding: var(--lumo-space-m); ③
}

@media all and (max-width: 1100px) { ④
    .list-view.editing .toolbar,
    .list-view.editing .contact-grid {
    display: none;
}
}